# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.vcxproj.user
*.aps
*.ncb
*.opendb
*.ide

# Copilot Cache & Indices
CopilotIndices/
.vscode/
.vscode/*
.vscode/settings.json

# Logs
*.log
logs/

# Build output folders
bin/
obj/
WEBAPI/.vs/PERSONEL/CopilotIndices/17.14.827.52834/CodeChunks.db
WEBAPI/.vs/PERSONEL/FileContentIndex/673aa828-313f-4f6d-bad4-5ac0b5c16ab8.vsidx
WEBAPI/.vs/PERSONEL/v17/.futdcache.v2
WEBAPI/.vs/PERSONEL/v17/.suo
WEBAPI/.vs/PERSONEL/v17/DocumentLayout.backup.json
WEBAPI/.vs/PERSONEL/v17/DocumentLayout.json
WEBAPI/Sevices/obj/Debug/net6.0/Services.AssemblyInfo.cs
WEBAPI/Sevices/obj/Debug/net6.0/Services.AssemblyInfoInputs.cache
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.exe
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
WEBAPI/WebAPI/internal_logs/internallog.txt
WEBAPI/WebAPI/obj/Debug/net6.0/apphost.exe
WEBAPI/WebAPI/obj/Debug/net6.0/ref/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/refint/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfo.cs
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfoInputs.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.pdb
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.sourcelink.json
WEBAPI/.vs/PERSONEL/CopilotIndices/17.14.827.52834/SemanticSymbols.db
/WEBAPI/.vs/PERSONEL/CopilotIndices
