
/WEBAPI/Entities/bin/Debug/net6.0
/WEBAPI/.vs/PERSONEL/v18
/WEBAPI/Entities/obj
/WEBAPI/Presentation/bin/Debug/net6.0
/WEBAPI/Presentation/obj
/WEBAPI/Repositories/bin/Debug/net6.0
/WEBAPI/Repositories/obj
/WEBAPI/Sevices/bin/Debug/net6.0
/WEBAPI/Sevices/obj
/WEBAPI/WebAPI/bin/Debug/net6.0
/WEBAPI/WebAPI/bin/Debug/net6.0
/WEBAPI/WebAPI/internal_logs
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0/ref
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0/refint
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0
WEBAPI/.vs/PERSONEL/DesignTimeBuild/.dtbcache.v2
WEBAPI/.vs/PERSONEL/DesignTimeBuild/.dtbcache.v2
WEBAPI/.vs/PERSONEL/FileContentIndex/4ae6abb3-83cc-4e6a-9992-88b93ff758b5.vsidx
WEBAPI/.vs/ProjectEvaluation/personel.metadata.v10.bin
WEBAPI/.vs/ProjectEvaluation/personel.projects.v10.bin
WEBAPI/.vs/ProjectEvaluation/personel.strings.v10.bin
WEBAPI/Entities/bin/Debug/net6.0/Entities.deps.json
WEBAPI/Entities/bin/Debug/net6.0/Entities.dll
WEBAPI/Entities/bin/Debug/net6.0/Entities.pdb
WEBAPI/Entities/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Entities/obj/Debug/net6.0/Entities.AssemblyInfo.cs
WEBAPI/Entities/obj/Debug/net6.0/Entities.AssemblyInfoInputs.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.assets.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.csproj.AssemblyReference.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.csproj.BuildWithSkipAnalyzers
WEBAPI/Entities/obj/Debug/net6.0/Entities.csproj.CoreCompileInputs.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.csproj.FileListAbsolute.txt
WEBAPI/Entities/obj/Debug/net6.0/Entities.dll
WEBAPI/Entities/obj/Debug/net6.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Entities/obj/Debug/net6.0/Entities.GlobalUsings.g.cs
WEBAPI/Entities/obj/Debug/net6.0/Entities.pdb
WEBAPI/Entities/obj/Debug/net6.0/Entities.sourcelink.json
WEBAPI/Entities/obj/Debug/net6.0/ref/Entities.dll
WEBAPI/Entities/obj/Debug/net6.0/refint/Entities.dll
WEBAPI/Entities/obj/Entities.csproj.nuget.dgspec.json
WEBAPI/Entities/obj/Entities.csproj.nuget.g.props
WEBAPI/Entities/obj/Entities.csproj.nuget.g.targets
WEBAPI/Entities/obj/project.assets.json
WEBAPI/Entities/obj/project.nuget.cache
WEBAPI/Entities/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Entities/obj/Release/net6.0/Entities.AssemblyInfo.cs
WEBAPI/Entities/obj/Release/net6.0/Entities.AssemblyInfoInputs.cache
WEBAPI/Entities/obj/Release/net6.0/Entities.assets.cache
WEBAPI/Entities/obj/Release/net6.0/Entities.csproj.AssemblyReference.cache
WEBAPI/Entities/obj/Release/net6.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Entities/obj/Release/net6.0/Entities.GlobalUsings.g.cs
WEBAPI/Presentation/bin/Debug/net6.0/Entities.dll
WEBAPI/Presentation/bin/Debug/net6.0/Entities.pdb
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.deps.json
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.dll
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.pdb
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.runtimeconfig.json
WEBAPI/Presentation/bin/Debug/net6.0/Repositories.dll
WEBAPI/Presentation/bin/Debug/net6.0/Repositories.pdb
WEBAPI/Presentation/bin/Debug/net6.0/Services.dll
WEBAPI/Presentation/bin/Debug/net6.0/Services.pdb
WEBAPI/Presentation/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Presentation/obj/Debug/net6.0/Presenta.BC777DBE.Up2Date
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfo.cs
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfoInputs.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.assets.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.AssemblyReference.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.BuildWithSkipAnalyzers
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.CoreCompileInputs.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.FileListAbsolute.txt
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.dll
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.genruntimeconfig.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.GlobalUsings.g.cs
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.pdb
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.sourcelink.json
WEBAPI/Presentation/obj/Debug/net6.0/ref/Presentation.dll
WEBAPI/Presentation/obj/Debug/net6.0/refint/Presentation.dll
WEBAPI/Presentation/obj/Presentation.csproj.nuget.dgspec.json
WEBAPI/Presentation/obj/Presentation.csproj.nuget.g.props
WEBAPI/Presentation/obj/Presentation.csproj.nuget.g.targets
WEBAPI/Presentation/obj/project.assets.json
WEBAPI/Presentation/obj/project.nuget.cache
WEBAPI/Presentation/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Presentation/obj/Release/net6.0/Presentation.AssemblyInfo.cs
WEBAPI/Presentation/obj/Release/net6.0/Presentation.AssemblyInfoInputs.cache
WEBAPI/Presentation/obj/Release/net6.0/Presentation.assets.cache
WEBAPI/Presentation/obj/Release/net6.0/Presentation.csproj.AssemblyReference.cache
WEBAPI/Presentation/obj/Release/net6.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Presentation/obj/Release/net6.0/Presentation.GlobalUsings.g.cs
WEBAPI/Repositories/bin/Debug/net6.0/Entities.dll
WEBAPI/Repositories/bin/Debug/net6.0/Entities.pdb
WEBAPI/Repositories/bin/Debug/net6.0/Repositories.deps.json
WEBAPI/Repositories/bin/Debug/net6.0/Repositories.dll
WEBAPI/Repositories/bin/Debug/net6.0/Repositories.pdb
WEBAPI/Repositories/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Repositories/obj/Debug/net6.0/ref/Repositories.dll
WEBAPI/Repositories/obj/Debug/net6.0/refint/Repositories.dll
WEBAPI/Repositories/obj/Debug/net6.0/Reposito.787EC4B2.Up2Date
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.AssemblyInfo.cs
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.AssemblyInfoInputs.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.assets.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.AssemblyReference.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.BuildWithSkipAnalyzers
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.CoreCompileInputs.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.FileListAbsolute.txt
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.dll
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.GlobalUsings.g.cs
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.pdb
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.sourcelink.json
WEBAPI/Repositories/obj/project.assets.json
WEBAPI/Repositories/obj/project.nuget.cache
WEBAPI/Repositories/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Repositories/obj/Release/net6.0/Repositories.AssemblyInfo.cs
WEBAPI/Repositories/obj/Release/net6.0/Repositories.AssemblyInfoInputs.cache
WEBAPI/Repositories/obj/Release/net6.0/Repositories.assets.cache
WEBAPI/Repositories/obj/Release/net6.0/Repositories.csproj.AssemblyReference.cache
WEBAPI/Repositories/obj/Release/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Repositories/obj/Release/net6.0/Repositories.GlobalUsings.g.cs
WEBAPI/Repositories/obj/Repositories.csproj.nuget.dgspec.json
WEBAPI/Repositories/obj/Repositories.csproj.nuget.g.props
WEBAPI/Repositories/obj/Repositories.csproj.nuget.g.targets
WEBAPI/Sevices/bin/Debug/net6.0/Entities.dll
WEBAPI/Sevices/bin/Debug/net6.0/Entities.pdb
WEBAPI/Sevices/bin/Debug/net6.0/Repositories.dll
WEBAPI/Sevices/bin/Debug/net6.0/Repositories.pdb
WEBAPI/Sevices/bin/Debug/net6.0/Services.deps.json
WEBAPI/Sevices/bin/Debug/net6.0/Services.dll
WEBAPI/Sevices/bin/Debug/net6.0/Services.pdb
WEBAPI/Sevices/bin/Debug/net6.0/Services.runtimeconfig.json
WEBAPI/Sevices/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Sevices/obj/Debug/net6.0/ref/Services.dll
WEBAPI/Sevices/obj/Debug/net6.0/refint/Services.dll
WEBAPI/Sevices/obj/Debug/net6.0/Services.AssemblyInfo.cs
WEBAPI/Sevices/obj/Debug/net6.0/Services.AssemblyInfoInputs.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.assets.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.BuildWithSkipAnalyzers
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.CoreCompileInputs.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.FileListAbsolute.txt
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.Up2Date
WEBAPI/Sevices/obj/Debug/net6.0/Services.dll
WEBAPI/Sevices/obj/Debug/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Sevices/obj/Debug/net6.0/Services.genruntimeconfig.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.GlobalUsings.g.cs
WEBAPI/Sevices/obj/Debug/net6.0/Services.pdb
WEBAPI/Sevices/obj/Debug/net6.0/Services.sourcelink.json
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.AssemblyInfo.cs
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.AssemblyInfoInputs.cache
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.assets.cache
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.csproj.CoreCompileInputs.cache
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.csproj.FileListAbsolute.txt
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Sevices/obj/Debug/net6.0/Sevices.GlobalUsings.g.cs
WEBAPI/Sevices/obj/project.assets.json
WEBAPI/Sevices/obj/project.nuget.cache
WEBAPI/Sevices/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/Sevices/obj/Release/net6.0/Services.AssemblyInfo.cs
WEBAPI/Sevices/obj/Release/net6.0/Services.AssemblyInfoInputs.cache
WEBAPI/Sevices/obj/Release/net6.0/Services.assets.cache
WEBAPI/Sevices/obj/Release/net6.0/Services.csproj.AssemblyReference.cache
WEBAPI/Sevices/obj/Release/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Sevices/obj/Release/net6.0/Services.GlobalUsings.g.cs
WEBAPI/Sevices/obj/Services.csproj.nuget.dgspec.json
WEBAPI/Sevices/obj/Services.csproj.nuget.g.props
WEBAPI/Sevices/obj/Services.csproj.nuget.g.targets
WEBAPI/Sevices/obj/Sevices.csproj.nuget.dgspec.json
WEBAPI/Sevices/obj/Sevices.csproj.nuget.g.props
WEBAPI/Sevices/obj/Sevices.csproj.nuget.g.targets
WEBAPI/WebAPI/appsettings.json
WEBAPI/WebAPI/bin/Debug/net6.0/appsettings.Development.json
WEBAPI/WebAPI/bin/Debug/net6.0/appsettings.json
WEBAPI/WebAPI/bin/Debug/net6.0/AutoMapper.dll
WEBAPI/WebAPI/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Entities.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Entities.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/EntityFramework.dll
WEBAPI/WebAPI/bin/Debug/net6.0/EntityFramework.SqlServer.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Humanizer.dll
WEBAPI/WebAPI/bin/Debug/net6.0/logs/2025-07-22_logfile.txt
WEBAPI/WebAPI/bin/Debug/net6.0/logs/2025-07-23_logfile.txt
WEBAPI/WebAPI/bin/Debug/net6.0/logs/2025-07-24_logfile.txt
WEBAPI/WebAPI/bin/Debug/net6.0/logs/2025-07-25_logfile.txt
WEBAPI/WebAPI/bin/Debug/net6.0/logs/2025-07-26_logfile.txt
WEBAPI/WebAPI/bin/Debug/net6.0/logs/2025-08-02_logfile.txt
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Data.Sqlite.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Sqlite.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.ObjectPool.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Newtonsoft.Json.dll
WEBAPI/WebAPI/bin/Debug/net6.0/nlog.config
WEBAPI/WebAPI/bin/Debug/net6.0/NLog.dll
WEBAPI/WebAPI/bin/Debug/net6.0/NLog.Extensions.Logging.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Presentation.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Presentation.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/Repositories.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Repositories.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/alpine-arm/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/alpine-arm64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/alpine-x64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/browser-wasm/nativeassets/net6.0/e_sqlite3.a
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-arm/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-arm64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-armel/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-mips64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-s390x/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-x64/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/linux-x86/native/libe_sqlite3.so
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/osx-x64/native/libe_sqlite3.dylib
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-arm/native/e_sqlite3.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-arm64/native/e_sqlite3.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-x64/native/e_sqlite3.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-x86/native/e_sqlite3.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Services.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Services.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/SQLitePCLRaw.batteries_v2.dll
WEBAPI/WebAPI/bin/Debug/net6.0/SQLitePCLRaw.core.dll
WEBAPI/WebAPI/bin/Debug/net6.0/SQLitePCLRaw.provider.e_sqlite3.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.CodeDom.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Collections.Immutable.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Data.SqlClient.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Data.SQLite.EF6.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Drawing.Common.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Security.Permissions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Text.Encodings.Web.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Text.Json.dll
WEBAPI/WebAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.deps.json
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.exe
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.runtimeconfig.json
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.staticwebassets.endpoints.json
WEBAPI/WebAPI/internal_logs/internallog.txt
WEBAPI/WebAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/WebAPI/obj/Debug/net6.0/ApiEndpoints.json
WEBAPI/WebAPI/obj/Debug/net6.0/apphost.exe
WEBAPI/WebAPI/obj/Debug/net6.0/EndpointInfo/WebAPI.json
WEBAPI/WebAPI/obj/Debug/net6.0/EndpointInfo/WebAPI.OpenApiFiles.cache
WEBAPI/WebAPI/obj/Debug/net6.0/ref/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/refint/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/rpswa.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.build.json
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.build.json.cache
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.removed.txt
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfo.cs
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfoInputs.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.BuildWithSkipAnalyzers
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.CoreCompileInputs.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.FileListAbsolute.txt
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.Up2Date
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.genruntimeconfig.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.GlobalUsings.g.cs
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.MvcApplicationPartsAssemblyInfo.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.MvcApplicationPartsAssemblyInfo.cs
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.pdb
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.sourcelink.json
WEBAPI/WebAPI/obj/project.assets.json
WEBAPI/WebAPI/obj/project.nuget.cache
WEBAPI/WebAPI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WEBAPI/WebAPI/obj/Release/net6.0/WebAPI.AssemblyInfo.cs
WEBAPI/WebAPI/obj/Release/net6.0/WebAPI.AssemblyInfoInputs.cache
WEBAPI/WebAPI/obj/Release/net6.0/WebAPI.assets.cache
WEBAPI/WebAPI/obj/Release/net6.0/WebAPI.csproj.AssemblyReference.cache
WEBAPI/WebAPI/obj/Release/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/WebAPI/obj/Release/net6.0/WebAPI.GlobalUsings.g.cs
WEBAPI/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WEBAPI/WebAPI/obj/WebAPI.csproj.nuget.g.props
WEBAPI/WebAPI/obj/WebAPI.csproj.nuget.g.targets
WEBAPI/.vs/PERSONEL/DesignTimeBuild/.dtbcache.v2
WEBAPI/Entities/bin/Debug/net6.0/Entities.deps.json
WEBAPI/Entities/bin/Debug/net6.0/Entities.dll
WEBAPI/Entities/bin/Debug/net6.0/Entities.pdb
WEBAPI/Entities/obj/Debug/net6.0/Entities.AssemblyInfo.cs
WEBAPI/Entities/obj/Debug/net6.0/Entities.AssemblyInfoInputs.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.assets.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.csproj.CoreCompileInputs.cache
WEBAPI/Entities/obj/Debug/net6.0/Entities.csproj.FileListAbsolute.txt
WEBAPI/Entities/obj/Debug/net6.0/Entities.dll
WEBAPI/Entities/obj/Debug/net6.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Entities/obj/Debug/net6.0/Entities.GlobalUsings.g.cs
WEBAPI/Entities/obj/Debug/net6.0/Entities.pdb
WEBAPI/Entities/obj/Debug/net6.0/Entities.sourcelink.json
WEBAPI/Entities/obj/Debug/net6.0/ref/Entities.dll
WEBAPI/Entities/obj/Debug/net6.0/refint/Entities.dll
WEBAPI/Entities/obj/Entities.csproj.nuget.dgspec.json
WEBAPI/Entities/obj/Entities.csproj.nuget.g.props
WEBAPI/Entities/obj/project.assets.json
WEBAPI/Entities/obj/project.nuget.cache
WEBAPI/Presentation/bin/Debug/net6.0/Entities.dll
WEBAPI/Presentation/bin/Debug/net6.0/Entities.pdb
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.deps.json
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.dll
WEBAPI/Presentation/bin/Debug/net6.0/Presentation.pdb
WEBAPI/Presentation/bin/Debug/net6.0/Repositories.dll
WEBAPI/Presentation/bin/Debug/net6.0/Repositories.pdb
WEBAPI/Presentation/bin/Debug/net6.0/Services.dll
WEBAPI/Presentation/bin/Debug/net6.0/Services.pdb
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfo.cs
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.AssemblyInfoInputs.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.assets.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.AssemblyReference.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.CoreCompileInputs.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.csproj.FileListAbsolute.txt
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.dll
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.genruntimeconfig.cache
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.GlobalUsings.g.cs
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.pdb
WEBAPI/Presentation/obj/Debug/net6.0/Presentation.sourcelink.json
WEBAPI/Presentation/obj/Debug/net6.0/ref/Presentation.dll
WEBAPI/Presentation/obj/Debug/net6.0/refint/Presentation.dll
WEBAPI/Presentation/obj/Presentation.csproj.nuget.dgspec.json
WEBAPI/Presentation/obj/Presentation.csproj.nuget.g.props
WEBAPI/Presentation/obj/project.assets.json
WEBAPI/Presentation/obj/project.nuget.cache
WEBAPI/Repositories/bin/Debug/net6.0/Entities.dll
WEBAPI/Repositories/bin/Debug/net6.0/Entities.pdb
WEBAPI/Repositories/bin/Debug/net6.0/Repositories.deps.json
WEBAPI/Repositories/bin/Debug/net6.0/Repositories.dll
WEBAPI/Repositories/bin/Debug/net6.0/Repositories.pdb
WEBAPI/Repositories/obj/Debug/net6.0/ref/Repositories.dll
WEBAPI/Repositories/obj/Debug/net6.0/refint/Repositories.dll
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.AssemblyInfo.cs
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.AssemblyInfoInputs.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.assets.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.AssemblyReference.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.CoreCompileInputs.cache
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.csproj.FileListAbsolute.txt
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.dll
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.GlobalUsings.g.cs
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.pdb
WEBAPI/Repositories/obj/Debug/net6.0/Repositories.sourcelink.json
WEBAPI/Repositories/obj/project.assets.json
WEBAPI/Repositories/obj/project.nuget.cache
WEBAPI/Repositories/obj/Repositories.csproj.nuget.dgspec.json
WEBAPI/Repositories/obj/Repositories.csproj.nuget.g.props
WEBAPI/Sevices/bin/Debug/net6.0/Entities.dll
WEBAPI/Sevices/bin/Debug/net6.0/Entities.pdb
WEBAPI/Sevices/bin/Debug/net6.0/Repositories.dll
WEBAPI/Sevices/bin/Debug/net6.0/Repositories.pdb
WEBAPI/Sevices/bin/Debug/net6.0/Services.deps.json
WEBAPI/Sevices/bin/Debug/net6.0/Services.dll
WEBAPI/Sevices/bin/Debug/net6.0/Services.pdb
WEBAPI/Sevices/obj/Debug/net6.0/ref/Services.dll
WEBAPI/Sevices/obj/Debug/net6.0/refint/Services.dll
WEBAPI/Sevices/obj/Debug/net6.0/Services.AssemblyInfo.cs
WEBAPI/Sevices/obj/Debug/net6.0/Services.AssemblyInfoInputs.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.assets.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.AssemblyReference.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.CoreCompileInputs.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.csproj.FileListAbsolute.txt
WEBAPI/Sevices/obj/Debug/net6.0/Services.dll
WEBAPI/Sevices/obj/Debug/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/Sevices/obj/Debug/net6.0/Services.genruntimeconfig.cache
WEBAPI/Sevices/obj/Debug/net6.0/Services.GlobalUsings.g.cs
WEBAPI/Sevices/obj/Debug/net6.0/Services.pdb
WEBAPI/Sevices/obj/Debug/net6.0/Services.sourcelink.json
WEBAPI/Sevices/obj/project.assets.json
WEBAPI/Sevices/obj/project.nuget.cache
WEBAPI/Sevices/obj/Services.csproj.nuget.dgspec.json
WEBAPI/Sevices/obj/Services.csproj.nuget.g.props
WEBAPI/WebAPI/appsettings.json
WEBAPI/WebAPI/bin/Debug/net6.0/appsettings.json
WEBAPI/WebAPI/bin/Debug/net6.0/Entities.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Entities.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/Presentation.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Presentation.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/Repositories.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Repositories.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/Services.dll
WEBAPI/WebAPI/bin/Debug/net6.0/Services.pdb
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.deps.json
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.exe
WEBAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
WEBAPI/WebAPI/internal_logs/internallog.txt
WEBAPI/WebAPI/obj/Debug/net6.0/ApiEndpoints.json
WEBAPI/WebAPI/obj/Debug/net6.0/apphost.exe
WEBAPI/WebAPI/obj/Debug/net6.0/EndpointInfo/WebAPI.json
WEBAPI/WebAPI/obj/Debug/net6.0/ref/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/refint/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/rjsmcshtml.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/rjsmrazor.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/rpswa.dswa.cache.json
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.build.json
WEBAPI/WebAPI/obj/Debug/net6.0/staticwebassets.build.json.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfo.cs
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.AssemblyInfoInputs.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.CoreCompileInputs.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.FileListAbsolute.txt
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.dll
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.genruntimeconfig.cache
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.GlobalUsings.g.cs
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.pdb
WEBAPI/WebAPI/obj/Debug/net6.0/WebAPI.sourcelink.json
WEBAPI/WebAPI/obj/project.assets.json
WEBAPI/WebAPI/obj/project.nuget.cache
WEBAPI/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WEBAPI/WebAPI/obj/WebAPI.csproj.nuget.g.props
