
/WEBAPI/Entities/bin/Debug/net6.0
/WEBAPI/.vs/PERSONEL/v18
/WEBAPI/Entities/obj
/WEBAPI/Presentation/bin/Debug/net6.0
/WEBAPI/Presentation/obj
/WEBAPI/Repositories/bin/Debug/net6.0
/WEBAPI/Repositories/obj
/WEBAPI/Sevices/bin/Debug/net6.0
/WEBAPI/Sevices/obj
/WEBAPI/WebAPI/bin/Debug/net6.0
/WEBAPI/WebAPI/bin/Debug/net6.0
/WEBAPI/WebAPI/internal_logs
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0/ref
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0/refint
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj
/WEBAPI/WebAPI/obj/Debug/net6.0
/WEBAPI/WebAPI/obj/Debug/net6.0
